.about_box{
    width:85%;
   margin: 40px auto 100px auto;
}

.about_box>h1{
    text-align: center;
}

.about_box>p{
    font-size: 16px;
    color: gray;
    line-height: 24px;
}

.about_box>p>a{
    color: black;
    text-decoration: none;
}






@media(max-width:768px){
    .about_box{
        width:88%;
    }
    .about_box>h1{
    font-size: 28px;
    margin-top: 40px;
    }
    .about_box>p{
        font-size: 15px;
    }
}



@media(max-width:550px){
    
    .about_box{
        width:90%;
    }
    .about_box>h1{
    font-size: 26px;

    }

}



@media(max-width:420px){
    .about_box{
        width:92%;
    }

    .about_box>h1{
    font-size: 24px;
 
    }
    .about_box>p{
        font-size: 14px;
    }
    
}