.insoles_blog {
    text-align: center;
    padding: 20px;
}

.insoles_blog > h2 {
    margin-bottom: 5px;
    font-size: 26px;
}

.insoles_blog > p {
    margin: 0;
    font-size: 14px;
}

.slider_container {
    position: relative;
    width: 85%;
    margin: 20px auto;
    overflow: hidden;
    padding: 0 20px;
}

.slider_container > .blog_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    color: #333;
    background-color: rgba(200, 200, 200, 0.7);
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_container > .blog_left_arrow {
    left: 0;
}

.slider_container > .blog_right_arrow {
    right: 0;
}

.slider_box {
    width: calc(100% - 60px);
    display: flex;
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider > .card {
    min-width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.slider > .card > a > img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider > .card > h3 {
    font-size: 18px;
    margin: 10px 0;
}

.slider > .card > p {
    font-size: 14px;
    color: grey;
}

.slider > .card > a > button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.slider > .card > a > button:hover {
    background-color: #FFD43B;
    color: black;
}

.face_mask_blog {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.face_mask_blog > h2 {
    margin-bottom: 5px;
    font-size: 26px;
}

.face_mask_blog > p {
    margin: 0;
    font-size: 14px;
}
