.retailer_box {
    padding: 30px 10% 50px 10%;
    width:80%;
    margin: 0px auto;
    background-color: #fafafa;
    text-align: center;
}



.retailer_heading {
    color: purple;
}

.retailer_box>p{
    color: grey;
}
.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.contact_1, .contact_2 {
    width: 43%;
    background-color: #fcf1c0;
    padding: 25px;
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
justify-items: center;
border-radius: 15px;
}

.contact_1>p, .contact_2>p {
    margin: 0 auto 10px auto;
    font-weight: 600;
    font-size: 16px;
}

.buttons {
    display: flex;
    gap: 20px;
    
}

.call_button{
    background-color:#6c0096;
}
.whatsapp_button{
    background-color: #4ec248;
}
.call_button, .whatsapp_button {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.call_button i, .whatsapp_button i {
    margin-right: 10px;
}

.call_button:hover, .whatsapp_button:hover {
    background-color: #FFD43B;
    color: black;
}
